{% extends "layout.html" %}

{% block content %}


<h1> Vidly Catalog </h1>

{% block style %}

<link rel="stylesheet" href="/static/styles/index.css">

{% endblock %}

<h5>{{ title }}</h5>

<table class = "table table-bordered table-striped mt-4">
   <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Year</th>
        <th>Price</th>
        <th>Stock </th>
    </tr>

   </thead>

   <tbody>
    {% for m in movies %}
    <tr>
        <td>{{m.id}}</td>
        <td>{{m.title}}</td>
        <td>{{m.release_year}}</td>
        <td>{{m.price}}</td>
        <td>{{m.in_stock}}</td>
    </tr>
    {% endfor %}

   </tbody>
</table>

</ul>

{% endblock %}

